h1{
  color:#053742;
  font-family: Palatino Linotype, Helvetica, sans-serif;
}
h3{
  color:#4B6587;
  font-family: Palatino Linotype, Helvetica, sans-serif;

}
    body {
      background-color:#F7F6F2;
    }
    hr {
      background-color: #F7F6F2;
      border-color: #C8C6C6;
      border-style: dotted none none;
      height: 2px;
      width: 10%;
      border-top-width: 8px;
      border-top-style: dotted;
    }
